<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <General>
    <Language value="zh_cn">
    </Language>
    <LogKeepDays value="10">
    </LogKeepDays>
  </General>
  <ListeningPort value="8000" />
  <WebGis>
    <IP value="127.0.0.1" />
    <Catalog value="Dagdb" />
    <User value="sa" />
    <Pwd value="sa" />
    <Port value="1433" />
    <Instance value="MSSQLSERVER" />
  </WebGis>
  <Tran>
    <IP value="127.0.0.1" />
    <Catalog value="Dagdb_Tran" />
    <User value="sa" />
    <Pwd value="sa" />
    <Port value="1433" />
    <Instance value="MSSQLSERVER" />
  </Tran>
  <UserInfo enabled="True">
    <FlushInterval value="1" />
  </UserInfo>
  <IPTransfer>
   
  </IPTransfer>
  <DBTransfer>
    
  </DBTransfer>
  <Plugin>
   
  </Plugin>
  <PluginList>
    <Dll name="TCP_Version_0" path="HuaiBei_TCP_0.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="TCP_Version_1" path="LiaoNing_TCP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="TCP_Version_2" path="SiChuan_TCP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_1" path="NeiMengRemoteIP.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_2" path="NeiMeng_UDP_2.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_3" path="HangZhou_UDP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_4" path="HangZhou_UDP_2.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_5" path="LiaoNing_UDP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_6" path="Lte_UDP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="UDP_Version_7" path="ShanXi_UDP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>

    <Dll name="UDP_Version_8" path="NewUDP_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    	  <Dll name="UDP_Version_9" path="ShiJiaZhuangUDP9.dll">
		  <Depend>
			  <Add path="Common.dll">
			  </Add>
			  <Add path="log4net.dll">
			  </Add>
		  </Depend>
	  </Dll>

    
    <Dll name="DB_Version_1" path="TaiZhouPGIS2.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="DB_Version_2" path="ShaoXingPGIS.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="DB_Version_3" path="TaiZhouPGIS3.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="DB_Version_4" path="HangZhou_DB_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="DB_Version_5" path="GuangDong_DB_1.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    <Dll name="DB_Version_6" path="GuangDong_DB_2.dll">
      <Depend>
        <Add path="Common.dll">
        </Add>
        <Add path="log4net.dll">
        </Add>
      </Depend>
    </Dll>
    	  <Dll name="DB_Version_7" path="HangZhou_DB_2.dll">
		  <Depend>
			  <Add path="Common.dll">
			  </Add>
			  <Add path="log4net.dll">
			  </Add>
		  </Depend>
	  </Dll><!--xzj-20190304-添加DB7-->
	  <Dll name="DB_Version_8" path="FieldStrength_DB_1.dll">
		  <Depend>
			  <Add path="Common.dll">
			  </Add>
			  <Add path="log4net.dll">
			  </Add>
		  </Depend>
	  </Dll>
  </PluginList>
</configuration>